<mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>

<mat-toolbar *ngIf="isAdmin$ | async" color="accent">
  <span>Admin Dashboard</span>
  <div class="admin-actions">
    <button mat-raised-button (click)="newCategory()">Add category</button>
    <button mat-raised-button (click)="newItem()">Add item</button>
    <button mat-raised-button (click)="userView()">Back to user mode</button>
  </div>
</mat-toolbar>

<header>
  <span>{{title}}</span>
</header>

<main>
  <div class="category" *ngFor="let category of (categoriesWithItems$ | async)">
    <span class="section-header">
      <span class="category-name">{{category.name | uppercase}}</span>
      <div *ngIf="isAdmin$ | async">
        <button mat-icon-button (click)="editCategory(category)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
          [disabled]="(isCategoryUsed$ | async)(category._id)"
          (click)="deleteCategory(category._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </span>

    <mat-divider></mat-divider>

    <div class="items-container">
      <div class="item" *ngFor="let item of category.items">
        <span class="section-header">
          <span class="item-name">{{ item.name | uppercase }} - {{ item.price | currency:'EUR' }}</span>
          <div *ngIf="isAdmin$ | async" class="item-actions">
            <button mat-icon-button (click)="editItem(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
              (click)="deleteItem(item._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </span>
        <span class="item-description">{{ item.description }}</span>
      </div>
    </div>
  </div>
</main>